html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    text-align: center;
    padding: 120px;
    background-color: #659684;
}

body {
    font: 20px Helvetica, sans-serif;
    color: #333;
}

h1 {
    font-size: 40px;
}

#article {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
}

a {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #333;
    text-decoration: none;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.carousel-container {
    position: relative;
    margin-top: 8vh;
}

.carousel-container>img {
    position: absolute;
    top: 0;
    left: calc(50% - 200px);
    opacity: 0;
    animation: display 20s infinite;
}

img:nth-child(2) {
    animation-delay: 4s;
}

img:nth-child(3) {
    animation-delay: 8s;
}

img:nth-child(4) {
    animation-delay: 12s;
}

img:nth-child(5) {
    animation-delay: 16s;
}